/* FONT */
@font-face {
	font-family: "OpenSans";
	src: local("/font/OpenSans-Regular.ttf"), url("/font/OpenSans-Regular.ttf") format("truetype");
	font-display: swap;
}


/* HTML ELEMENTS */
* {
	font-family: "OpenSans", sans-serif;
}

body, html {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	background: #567890;
	font-size: 18px;
	overflow-wrap: anywhere;
}

a {
	color: #abcdef;
}

aside {
	position: relative;
	width: 18em;
	height: 100%;
	padding: .5em 1em;
	background-color: #345678;
	outline: .25em solid #012345;
}

dfn {
	text-decoration: underline dotted;
	text-decoration-skip: none;
	text-decoration-skip-ink: none;
	text-decoration-thickness: 0.12em;
	text-decoration-color: #fff;
	font-style: normal;
	cursor: help;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	width: 100%;
	font-size: 1.75em;
}

h2 {
	font-size: 1.3em;
}

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
}

hr {
	width: 100%;
	margin: .5em auto;
	border: 0;
	border-bottom: .12em solid #234567;
}

input, textarea {
	display: inline-block;
	font-size: 1.2em;
}

input[type=button] {
	margin: 0 auto;
	padding: 0 1em;
	cursor: pointer;
}

input[type=radio] {
	margin: 0;
	padding: .5em;
	cursor: pointer;
}

input[type=range] {
	display: block;
	width: 9em;
	font-size: 1em;
	cursor: grab;
}

input[type=range]:active {
	cursor: grabbing;
}

input:disabled {
	cursor: auto;
}

label {
	width: max-content;
}

li {
	margin: .25em 0;
}

main {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;
	width: calc(100vw - 20em);
	max-width: calc(100vw - 20em);
	height: 100%;
	overflow-x: auto;
	overflow-y: scroll;
}

output {
	min-width: 1.2em;
	padding: .5em;
	text-align: right;
}

p {
	margin: .5em 0;
}

select {
	cursor: pointer;
}

ul {
	margin: .5em;
	padding: 0;
	list-style-type: none;
}


/* CLASSES */
.author {
	display: block;
	font-size: .7em;
	font-style: italic;
}

.author.done:after {
	content: "Done!";
	margin-left: .5em;
	padding: .12em .25em;
	background-color: #123456;
	font-style: normal;
}

.box {
	padding: 1em 1.2em;
	text-align: start;
	background-color: #345678;
	filter: drop-shadow(.25em .25em 0 #012345);
}

.boxlet {
	margin: 1em 0 0;
	padding: .5em;
	border: .12em solid #234567;
	text-align: start;
}

.canvas-container {
	position: absolute !important;
	top: 0;
}

.center {
	align-self: center;
	text-align: center;
}

.copyright {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: .5em;
}

.flex {
	display: flex;
	flex-flow: column nowrap;
}

.right {
	overflow: hidden;
	float: right;
	padding: 0 .2em;
	outline: .2em solid #123456;
	background-color: #123456;
}

.row {
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.spin {
	animation: spin 2s infinite linear;
}


/* IDS */
#canvasBase, #previousDraw {
	height: calc(100vh - 18em);
	min-width: 20em;
	min-height: 15em;
}

#draw, #write {
	min-width: 20em;
	padding: .5em 1em;
	border-top: .12em solid #234567;
}

#game {
	width: 100%;
}

#gameplay {
	margin: auto;
	max-height: calc(100% - 3.1em);
}

#inputCopyRoom, #inputCopyURL {
	padding: 0 .2em;
	font-size: 1em;
}

#inputWrite {
	resize: vertical;
	max-height: 12em;
}

#join input[type=text] {
	margin-bottom: .8em;
}

#loading {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	background: rgba(35, 69, 103, .1);
	z-index: 100;
	cursor: wait;
}

#previous {
	padding-bottom: .5em;
}

#previousWrite {
	max-width: calc(100% - 22em);
	margin: 0;
	font-size: 1.2em;
}

#settings label {
	cursor: pointer;
	margin: 0 .4em;
}

#settings > .row {
	height: 2.5em;
}

#status {
	justify-content: center;
	height: 3.1em;
	padding: .5em .5em 0;
}

#you {
	font-weight: bold;
}


/* OVERRIDES */
.hidden {
	display: none !important;
}

.blurred {
	color: transparent !important;
	text-shadow: rgba(255, 255, 255, 1) 0 0 .5em;
}

.fade-out {
	opacity: 1;
	animation: fade-out 1.5s linear forwards;
}


/* ANIMATIONS */
@keyframes fade-out {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}


/* DIALOGS POLYFILL */
dialog {
	position: absolute;
	left: 0;
	right: 0;
	width: fit-content;
	height: fit-content;
	margin: auto;
	border: .12em solid #001234;
	padding: 1em;
	background-color: #345678;
	color: #fff;
	display: block;
	filter: drop-shadow(.25em .25em 0 #012345);
}

dialog:not([open]) {
	display: none;
}

dialog::backdrop, dialog + .backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(35, 69, 103, .2);
}

._dialog_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

dialog.fixed {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
}


/* EVERYTHING BELOW IS DEPRECATED *//*
ul {
	margin-top: 0;
	margin-bottom: 8px;
}
li {
	margin: 8px 0;
	word-wrap: break-word
}
td {
	text-align: center;
}
td:first-of-type {
	text-align: left;
}

*//* Classes *//*
.center {
	align-self: center;
	text-align: center;
}
.centerV {
	display: flex;
	flex-flow: row nowrap;
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: center;
	justify-content: center;
}
.page {
	min-height: 20px;
	margin: 0 auto;
	background-color: #eee;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
.page:first-of-type {
	border-top: 2px solid #ddd;
}
.page:last-of-type {
	border-bottom: 2px solid #ddd;
}
.presentWrite {
	margin: 14px;
	font-size: 20px;
}
.presentDraw {
	margin: 0 0 -5px;
}

*//* Sections *//*
#gameSection {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	width: auto;
	max-width: 800px;
	height: 100vh;
}
#mainGame {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
}
#presentSection, #gameArea {
	min-width: 400px;
	max-width: min(calc((100vh - 255px) * 1.33), 820px);
}
.presentLobby {
	max-width: 500px !important;
}

*//* Inputs and outputs *//*
#presentTable input {
	margin: 5px auto;
	font-size: 18px;
	display: block;
}

*//* Other Stuff *//*
#previousWrite {
	font-size: 21px;
	overflow-wrap: anywhere;
	font-style: italic;
	min-width: 300px;
}
#previousWrite:before {
	content: '\201C';
}
#previousWrite:after {
	content: '\201D';
}
#previousDraw {
	display: flex;
	justify-content: center;
	max-width: 100%;
	min-height: 300px;
	flex-grow: 1;
}
#previousDrawImg {
	min-width: 0;
	height: calc(100vh - 360px);
	min-height: 300px;
	background-color: #fff;
}
#presentMenu {
	width: auto;
	max-width: 500px;
}
#presentList div {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
#presentList span {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#presentList input {
	margin: 0 10px 10px !important;
}
#presentBookTitle {
	margin: 40px auto 0;
	text-align: center;
	font-size: 28pt;
}
#presentWindow {
	overflow-x: hidden;
	overflow-y: scroll;
	max-width: min(calc((100vh - 210px) * 1.33), 820px);
	min-width: 400px;
	height: calc(100vh - 210px);
	min-height: 210px;
	background-color: #fff;
	border: 2px solid #234567;
}
#presentWindow * {
	color: #000;
}
#presentControls, #presentControlsFinish, #presentControlsOverride {
	display: flex;
	flex-flow: row nowrap;
	width: auto;
	margin: 0 auto;
}
#presentControls input, #presentControlsFinish input, #inputPresentOverride {
	margin: 4px !important;
}

*//* Drawing tools *//*
#gameDrawTools {
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 1;
	margin-right: 12px;
	padding-right: 8px;
	justify-content: flex-start;
	border-right: 2px solid #234567;
}
#gameDrawTools > * {
	display: flex;
	align-self: center;
	align-content: center;
	justify-content: center;
	margin: 2px 6px;
}
[id^=tool] {
	align-self: center;
	width: 40px;
	height: 40px;
	background-color: #6789AB;
	background-image: url(/img/tools.png);
	background-size: 70px;
	background-repeat: no-repeat;
	background-position-x: left;
	border: 2px solid #012345;
	outline: none;
	padding: 0;
	margin: 2px -1px !important;
	margin-block: 0;
}
[id^=tool]:hover {
	border: 2px solid #89ABCD;
	cursor: pointer;
	z-index: 1;
}
[id^=tool]:disabled {
	opacity: 40%;
	border: 2px solid #012345;
	cursor: default;
}
#toolColor {
	width: 0;
	height: 0;
	padding: 0;
	background: none;
	border-width: 20px;
	border-radius: 50%;
	border-style: solid;
	border-color: black;
	outline: 2px solid #012345;
	overflow: hidden;
	margin: 2px 6px !important;
}
#toolColor:hover {
	outline: 2px solid #89ABCD;
	cursor: pointer;
}
#toolPaint {
	background-position-y: 0;
}
#toolErase {
	background-position-y: -34px;
}
#toolFill {
	background-position-y: -68px;
}
#toolUndo {
	background-position-y: -102px;
}
#toolRedo {
	background-position-y: -136px;
}
.toolSelected {
	background-position-x: right;
}
 */
